<template>
  <ion-content class="ion-padding">
    <ion-text color="medium"><h3>{{ title }}</h3></ion-text>
    <ion-item>
      <ion-input placeholder="Enter Input" type="text"></ion-input>
    </ion-item>

    <div class="modale-button">
      <ion-button size="small" fill="clear" color="primary">CANCEL</ion-button>
      <ion-button size="small" fill="clear" color="primary">OK</ion-button>
    </div>
  </ion-content>
</template>

<script lang="ts">
import {IonContent, IonInput, IonButton, IonText} from '@ionic/vue';
  export default {
    name: 'UpdateProfileModal',
    props: ['title'],
    components: { IonContent, IonInput, IonText, IonButton }
  }
</script>

<style lang="scss" >
.update-profile-container {
  --height: 35%;
  --width: 90%;

  h3 {
    margin-top: 0;
  }

  .modale-button {
    display: flex;
    justify-content: flex-end;
  }
}
</style>
