<template>
  <ion-page>
    <ion-header translucent>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Change Avatar</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="saveAvatar(avatarUrl[0])" v-if="avatarUrl[0]">OK</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-row>
          <ion-col size="3" v-for="i in 27" :key="i">
            <input type="checkbox" :id="'Checkbox'+i" :value="getImageUrl(i)" v-model="avatarUrl" @change="uniqueCheck" />
            <label :for="'Checkbox'+i">
              <img :src="getImageUrl(i)" alt="">
            </label>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {IonList, IonButtons, IonBackButton, IonCol, IonRow, IonContent, IonPage} from '@ionic/vue';
import {} from 'ionicons/icons';

import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ChangeAvatar',
  components: { IonList, IonButtons, IonBackButton, IonRow, IonCol, IonContent, IonPage },
  data () {
    return {
      avatarUrl: new Array<string>()
    }
  },
  methods: {
    saveAvatar(avatarUrl: string) {
      console.log(avatarUrl)
    },
    getImageUrl(i: string): string {
        return "/assets/avatar/avataaars ("+ i +").svg"
    },
    uniqueCheck(e: any){
      this.avatarUrl = [];
      if (e.target.checked) {
        this.avatarUrl.push(e.target.value);
      }
      console.log(this.avatarUrl)
    }
  }
  });
</script>

<style lang="scss" scoped>

input[type="checkbox"][id^="Checkbox"] {
  display: none;
}

label:before {
  //background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #2dd36f;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  //transition-duration: 0.4s;
  transform: scale(0);
}

:checked + label:before {
  content: "✓";
  background-color: #2dd36f;
  transform: scale(1);
}

:checked + label img {
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
</style>
