<template>
  <ion-page>
    <div class='overlay'></div>
    <div class='game-header'>
      <ion-header class="ion-no-border">
        <ion-toolbar color="success">
          <ion-buttons @click="quit" slot="start">
            <ion-button>
              <ion-icon slot="icon-only" :icon="arrowBack"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons class="ion-padding" slot="end">
            <ion-button @click="openSetting">
              <ion-icon slot="icon-only" :ios="ellipsisHorizontal" :md="ellipsisVertical"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </div>
    <div class="game-container full-screen" :class="[currentColor]" v-if="uno != null">

      <ion-modal
          :is-open="openChat"
          css-class="chat-view-container"
      >
        <ChatView :dark="true" :onClose="() => openChat = false" :messages="messages" :playerId="playerId" />
      </ion-modal>

      <ion-item class="chat-preview-container" v-if="showChat">
        <ion-input color="light" readonly placeholder="Say hello..." @click="() => openChat = true"></ion-input>
        <ion-button>CHAT: ON</ion-button>
      </ion-item>

      <ion-modal
          :is-open="showWinnerModal"
          css-class="winner-view-container"
      >
        <WinnerModal
            :winnerPlayer="winnerPlayer"
            :currentPlayer="uno.currentPlayer"
            :quit="quit"/>
      </ion-modal>

      <div class="game" ref="game">
        <SpinBackground :direction="direction" />

        <OpponentDetailLayer
            v-for="(player, i) in opponents"
            :i="i"
            :key="player.id"
            :opponents="opponents"
            :currentPlayer="uno.currentPlayer"
            :player="uno.getPlayer(player.id)" />

        <OpponentHandLayer
            :opponents="opponents"
            :currentPlayer="uno.currentPlayer"
            :getPlayer="uno.getPlayer"
            :players="localGame ? uno.players : uno.playersInit"
            :windowWidth="windowWidth"
            :windowHeight="windowHeight"
            :shrinkAmountPadding="shrinkAmountPadding"
            :shrinkAmount="shrinkAmountPx"/>

        <CardStack :stack="uno.stack" :boardDirection="uno.boardDirection" />

        <ion-modal
            :is-open="needColor"
            css-class="color-selector-container"
            backdrop-dismiss="false"
        >
          <ColorSelectorModal :show="needColor" :selectColor="selectColor" />
        </ion-modal>

        <HistoryView
            :playHistory="uno.playHistory"
            :previousPlayer="uno.getPlayer(uno.previousPlayer)"
            :playerId="playerId"
            :topStack="uno.topStack"></HistoryView>

        <CardDraw :active="playerId === currentPlayer" :draw="draw"></CardDraw>

        <div class="player-controls" :class="{ online: showChat }" >
          <transition-group name="list" tag="div" class="player-hand" ref="playerHand" :class="{ inactive: !playerTurn, online: showChat }" :style="{ marginLeft: shrinkAmountPadding }">
            <Card
                v-for="(card, i) in playerHand"
                :key="'hand' + i"
                @click="selectCard(card, i)"
                @mouseover="mouseover(i)"
                :validMove="card.validMove"
                :color="card.color"
                :type="card.type"
                :animateIn="true"
                :animateDisabled="i !== removeIndex && removing"
                :animateRemoving="i === removeIndex"
                :hoverFocus="hoverFocus"
                :shrinkAmount="shrinkAmountPx"
                padding="46px" />
          </transition-group>

          <PlayerDetailLayer
              @onTimeOver="onTimePlayerOver()"
              :currentPlayer="uno.currentPlayer"
              :player="uno.getPlayer(playerId)"
          />

        </div>
      </div>

    </div>
  </ion-page>
</template>

<script>
  import AiPlayer from '@/../common/AiPlayer';
  import Store from '@/Store';
  import Rules from '@/../common/Rules';
  import Uno from '@/../common/Uno';

  import Card from '@/components/Card';
  import CardStack from '@/components/CardStack';
  import ChatView from '@/components/ChatView';
  import ColorSelectorModal from '@/components/ColorSelectorModal';
  import WinnerModal from '@/components/WinnerModal';
  import OpponentDetailLayer from '@/components/OpponentDetailLayer';
  import OpponentHandLayer from '@/components/OpponentHandLayer';
  import SpinBackground from '@/components/SpinBackground';

  import {
    IonPage,
    IonModal,
    IonInput,
    toastController,
    IonButton,
    IonIcon,
    IonBackButton,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonItem,
    IonChip,
    popoverController
  } from '@ionic/vue';
  import {send, arrowBack, ellipsisVertical, ellipsisHorizontal} from 'ionicons/icons';
  import HistoryView from "@/components/HistoryView";
  import CardDraw from "@/components/CardDraw";
  import PlayerDetailLayer from "@/components/PlayerDetailLayer"
  import GamePopover from "@/components/GamePopover";
  import ChatAvatar from "@/components/ChatAvatar";

  export const WAIT_AI_MOVE_TIME = 1000

  export default {
    name: 'Game',
    components: {
      Card,
      CardStack,
      ChatView,
      ColorSelectorModal,
      OpponentDetailLayer,
      OpponentHandLayer,
      SpinBackground,
      WinnerModal,
      HistoryView,
      CardDraw,
      PlayerDetailLayer,
      IonPage,
      IonModal,
      IonInput,
      IonButton,
      IonIcon,
      IonHeader,
      IonToolbar,
      IonButtons,
      IonItem,
      // IonChip
      // IonBackButton
    },
    setup() {
      return {
        send,
        arrowBack,
        ellipsisVertical,
        ellipsisHorizontal
      }
    },
    mounted() {
      this.uno = new Uno(Store.get('players'), this.emit);
      this.playerId = Store.get('playerId');

      if(this.$network.online) {
        this.$network.emit('resyncGame');
      }

      this.$nextTick(() => {
        this.windowWidth = this.$refs.game.clientWidth;
        this.windowHeight = this.$refs.game.clientHeight;
        window.addEventListener('resize', () => {
          this.windowWidth = this.$refs.game.clientWidth;
          this.windowHeight = this.$refs.game.clientHeight;
        });
      });
    },
    beforeUnmount() {
      if(this.$network.online) {
        this.$network.emit('leaveMatch');
        this.$network.emit('refreshLobby');
      }
      this.$network.online = true
    },
    data () {
      return {
        playerId: 'Andrey',
        uno: null,
        localGame: !this.$network.online,
        needColor: false,
        removeIndex: -1,
        removing: false,
        windowWidth: 1920,
        windowHeight: 0,
        shrinkAmount: 0,
        showChat: this.$network.online,
        openChat: false,
        winnerPlayer: '',
        showWinnerModal: false,
        focusIndexCard: null,
        hoverFocus: true,
        messages: [],
        playerAutoDraw: 1,
      }
    },
    methods: {
      open(msg) {
        this.$toasted.show(
            `
        <div class="chat-message">
          <img src="/assets/avatar/avataaars (1).svg" alt="avatar">
          <ion-chip>
            <ion-label color="dark">${msg}</ion-label>
          </ion-chip>
        </div>
            `,
            {
          position: 'bottom-left',
          duration: 2000
        })
      },
      async openSetting(ev) {
        const popover = await popoverController
            .create({
              component: GamePopover,
              cssClass: 'game-popover-container',
              showBackdrop: false,
              event: ev,
              translucent: true
            })
        return popover.present();
      },
      async drawToast(number) {
        const toast = await toastController
            .create({
              message: 'You drew ' + number + ' card(s)',
              color: 'warning',
              duration: 2000
            })
        return toast.present();
      },
      emit(event, data) {
        if(this.localGame) {
          const player = this.uno.getPlayer(this.uno.currentPlayer);
          if(event === 'needColor' && player.human === false && player.remote === false) {
            this.uno.setManualColor(AiPlayer.selectColor(player.hand));
          }
          else if(event === 'needColor') {
            this.needColor = true;
          }
          else if(event === 'win') {
            this.winnerPlayer = this.uno.getPlayer(this.currentPlayer);
            this.showWinnerModal = true;

            if(this.currentPlayer === this.playerId) {
              this.uno.audioPlayer.winAudio();
            }
            else {
              this.uno.audioPlayer.loseAudio();
            }
          }
          else if(event === 'draw' && data.player === this.playerId) {
            this.drawToast(data.number)
          }
        }
        else if(event === 'needColor') {
          this.needColor = true;
        }
      },
      selectColor(color) {
        this.needColor = false;
        if(this.localGame) {
          this.uno.setManualColor(color);
        }
        else {
          this.$network.emit('userSelectColor', color);
        }
      },
      draw() {
        if(this.localGame) {
          this.uno.draw(this.playerId);
          this.uno.nextTurn(true);
        }
        else {
          this.$network.emit('draw');
        }
      },
      selectCard(card, i) {
        if(this.localGame && !Rules.isLegal(this.uno.topStack, this.uno.manualColor, card, this.uno.currentPlayer, this.uno.playHistory)) {
          return;
        }
        if(this.removeIndex === -1) {
          if (this.focusIndexCard === i) {
            this.removeIndex = i;
            this.removing = true;
            setTimeout(() => {
              this.playCard(card);
              setTimeout(() => this.removing = false, 250);
            }, 250);

            this.focusIndexCard = null;
            this.hoverFocus = false;
          }
          else {
            this.hoverFocus = true;
            this.focusIndexCard = i;
          }
        }
      },
      playCard(card) {
        this.playerAutoDraw = 1

        if(this.localGame) {
          this.uno.playCard(this.playerId, card);
        }
        else {
          this.$network.emit('playCard', card);
        }
      },
      mouseover(i) {
        if(!this.localGame && this.playerTurn) {
          this.$network.emit('userHighlightCard', i);
        }
      },
      computeShrinkAmount() {
        if(this.compressed) {
          const numCards = this.playerHand.length;
          const handRealWidth = (120 + 5) * (numCards + 1);
          this.shrinkAmount = (handRealWidth - this.windowWidth) / numCards;
        }
        else {
          this.shrinkAmount = 0;
        }
      },
      quit() {
        // if(!this.localGame) {
          if(this.$network.online) {
            this.$network.emit('leaveMatch');
          }
          this.$router.push({ path: '/lobby/' });
        // }
        // else {
        //   this.$router.push({ path: '/lobby/offline/' });
        // }
      },
      aiMove() {
        const player = this.uno.getPlayer(this.uno.currentPlayer);
        player.selectedCardIndex = -1;

        if(player.human === false && player.remote === false) {
          const setSelectedCard = index => {
            player.selectedCardIndex = index;
          }
          const drawCard = () => {
            this.uno.draw(this.uno.currentPlayer);
            this.uno.nextTurn(true);
          }
          const chooseCard = card => {
            setSelectedCard(-1);
            this.uno.playCard(this.uno.currentPlayer, card);
          }

          setTimeout(() => {
            AiPlayer.makeMove(player.hand, this.uno.manualColor, this.uno.topStack, setSelectedCard, drawCard, chooseCard, this.uno.currentPlayer, this.uno.playHistory);
          }, WAIT_AI_MOVE_TIME);

        }
      },
      onTimePlayerOver() {
          // if (this.playerAutoDraw < 2) {
          //   this.playerAutoDraw ++;
          //   this.draw();
          // }
          // else {
          //   this.quit()
          // }
      }
    },
    computed: {
      currentColor() {
        if(this.uno.topStack == null) return '';
        if(this.uno.topStack.color !== 'special') {
          return this.uno.topStack.color;
        }
        return this.uno.manualColor || 'special';
      },
      playerHand() {
        if(this.uno === null) return [];
        return this.uno.getPlayer(this.playerId).hand.filter(card => (Rules.isLegal(this.uno.topStack, this.uno.manualColor, card, this.uno.currentPlayer, this.uno.playHistory)) ? card.validMove = 1 : card.validMove = -1);
      },
      currentPlayer() {
        if(this.uno === null) return '';
        this.aiMove();
        return this.uno.currentPlayer;
      },
      playerTurn() {
        return this.currentPlayer === this.playerId;
      },
      direction() {
        return this.uno.boardDirection;
      },
      opponents() {
        if(this.uno === null) return [];

        // Order players so that player is at index 0
        // Otherwise, positions on the board are out-of-order.
        const players = this.uno.playersInit.slice();
        while(players[0].id !== this.playerId) {
          players.push(players.shift()); // rotate one step
        }

        return players.filter(player => player.id !== this.playerId);
      },
      compressed() {
        return 180 * this.playerHand.length > this.windowWidth;
      },
      shrinkAmountPadding() {
        return this.shrinkAmount * 1.2 + 'px';
      },
      shrinkAmountPx()  {
        return '-' + this.shrinkAmount + 'px';
      }
    },
    watch: {
      playerHand()  {
        this.removeIndex = -1;
        this.computeShrinkAmount();
      },
      windowWidth() {
        this.computeShrinkAmount();
      },
      showChat() {
        this.$nextTick(() => {
          window.dispatchEvent(new Event('resize'));
        });
      }
    },
    sockets: {
      onError(text) {
        console.log('Error from server: ' + text);
      },
      onWin(playerId) {
        this.showWinnerModal = true;
        this.winnerPlayer = this.uno.getPlayer(playerId);
      },
      onGameEmit(event, data) {
        this.emit(event);
      },
      setPlayerHand({ id, hand }) {
        this.uno.remoteSetPlayerHand(id, hand);
      },
      setPlayerHandLength({ id, length }) {
        this.uno.remoteSetPlayerHandLength(id, length);
      },
      setPlayerSelectCardIndex({ id, index }) {
        this.uno.remoteSetPlayerSelectedCardIndex(id, index);
      },
      setCurrentPlayer(id) {
        this.uno.remoteSetCurrentPlayer(id);
      },
      setBoardDirection(direction) {
        this.uno.remoteSetBoardDirection(direction);
      },
      setManualColor(color) {
        this.uno.remoteSetManualColor(color);
      },
      setStack(stack) {
        this.uno.remoteSetStack(stack);
      },
      unoStateUpdate(unoState) {
        this.uno.remoteSetState(unoState);
      },
      onDraw(draw) {
        if(draw.player === this.playerId) {
          this.drawToast(draw.number)
        }
      },
      newMessage(payload) {
        if (payload.sender.id !== this.playerId) {
          this.open(payload.content)
        }
        this.messages.push(payload);
      }
    }
  }
</script>

<style lang="scss" >
  .toasted {
    background-color: unset !important;
    border-radius: unset !important;
    box-shadow: unset !important;
    margin: unset !important;
    padding: unset !important;
    .chat-message {
      position: absolute; bottom: 45px; left: 0;
      display: flex;
      align-items: center;
      //z-index: 2;
      margin: 5px;

      ion-chip {
        background: #f4f5f8;
      }

      img {
        width: 7%;
      }
    }
  }

  .list-enter-active,
  .list-leave-active {
    transition: all 1s ease;
  }
  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(29, 44, 49, 0.7);
    z-index: 2;
  }

  .game-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    ion-toolbar {
      --ion-color-base: initial !important;
      font-size: small;
    }

  }

  .game-container {
    display: flex;
    transition: background-color 750ms;
    background-color: #1D2C31;

    //&.red {
    //  background-color: #FE563D;
    //}
    //
    //&.yellow {
    //  background-color: #FADF16;
    //}
    //
    //&.green {
    //  background-color: #89CB3F;
    //}
    //
    //&.blue {
    //  background-color: #18A1F1;
    //}
    //
    //&.special {
    //  background-color: #b2bec3;
    //}
  }

  .game {
    flex: 1;
    position: relative;
  }

  .player-controls {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;

    &.online {
      bottom: 18%;
    }

    .player-hand {
      display: flex;
      flex-direction: row;
      justify-content: center;
      transition: all 250ms;

      &.inactive {
        filter: grayscale(50%);
        transform: scale(0.8);
        transform-origin: bottom;
      }
    }
  }

  .chat-preview-container {
    position: absolute; bottom: 0; width: 100%;
    z-index: 2;
    --background: black;
    ion-button {
      --background: #1e2023;
    }
  }

</style>
