<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-avatar slot="start" class="avatar-header" @click="() => router.push('/profile')">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

        <ion-title>Tab 3</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <div class="lobby">

        <ion-segment @ionChange="segmentChanged($event)" scrollable :value="pageSegment">
          <ion-segment-button value="casual">
            <ion-label>Casual</ion-label>
          </ion-segment-button>
          <ion-segment-button value="leaderboard">
            <ion-label>Leaderboard</ion-label>
          </ion-segment-button>
          <ion-segment-button value="rules">
            <ion-label>Rules</ion-label>
          </ion-segment-button>
        </ion-segment>

        <MatchList
            v-if="pageSegment === 'casual' "
            :joinMatch="joinMatch"
            :createMatch="createMatch"
            :currentMatch="currentMatch"
            :createMatchModal="createMatchModal"/>

        <Rules v-if="pageSegment === 'rules' "/>
        <LeaderBoard v-if="pageSegment === 'leaderboard' "/>

      </div>
    </ion-content>
  </ion-page>
</template>

<script>
  import MatchList from '@/components/lobby/MatchList';

  import { generateName } from '@/../common/NameGenerator';
  import PlayerAdapter from '@/../common/PlayerAdapter';
  import Store from '@/Store';

  import {IonPage, IonHeader, IonToolbar, IonTitle, IonContent, modalController, loadingController} from '@ionic/vue';
  import CreateMatch from "@/components/lobby/CreateMatch";
  import Rules from "@/components/lobby/Rules";
  import LeaderBoard from "@/components/lobby/LeaderBoard";
  import { useRouter } from 'vue-router';

  export default {
    name: 'Lobby',
    components: {LeaderBoard, Rules, MatchList, IonHeader, IonToolbar, IonTitle, IonContent, IonPage },
    props: ['id'],
    setup() {
      const router = useRouter();
      return { router };
    },
    data() {
      return {
        playerName: 'A New Player',
        playerId: '',
        playerIdOffline: '',
        currentMatch: null,
        matches: [],
        pageSegment: 'casual'
      }
    },
    mounted() {
      console.log("mounted lobby")
      if(this.$network.online) {
        this.$network.emit('refreshLobby');
      }
      else {
        this.setName(generateName());
      }

      if(this.id) {
        this.joinMatch(this.id);
      }
    },
    sockets: {
      setId(id) {
        this.playerId = id;
      },
      refreshLobby({ playerName, playerId, matches }) {
        this.playerName = playerName;
        this.playerId = playerId;
        this.matches = matches;
      },
      startGame() {
        loadingController.dismiss();
        this.gotoGameView();
      },
      onPlayerNameChange(name) {
        this.setName(name);
      },
      joinMatch(match) {
        this.currentMatch = match;

        if (match.players.filter(player => player.open).length === 0) {
          this.startGame();
        }
        else {
          this.waitPlayerLoading()
        }

        // if(this.$route.path.indexOf(match.id) === -1) {
        //   this.$router.push({ path: '/lobby/' + match.id });
        // }
      },
      leaveMatch() {
        this.currentMatch = null;
        this.$router.push({ path: '/lobby/' });
      },
      onMatchUpdate(match) {
        this.currentMatch = match;
      },
      onError(text) {
        console.log('Error from server: ' + text);
      }
    },
    methods: {
      segmentChanged(ev) {
        console.log('Segment changed', ev, ev.detail.value);
        this.pageSegment = ev.detail.value;
      },
      async waitPlayerLoading() {
        const loading = await loadingController
            .create({
              cssClass: 'my-custom-class',
              message: 'Please wait...',
            });

        await loading.present();
      },
      async createMatchModal() {
        const modal = await modalController
            .create({
              component: CreateMatch,
              cssClass: 'create-match-container',
            })
        modal.onWillDismiss().then(payload => {
          if (payload.data && payload.data.online === true) {
            this.waitPlayerLoading()
          }
          else if (payload.data && payload.data.online === false) {
            // this.$network.online = false;
            this.createMatch(payload.data.numOpponent);
            this.gotoGameView();
          }
          else {
            if(this.$network.online) {
              this.$network.emit('leaveMatch');
            }
          }
        })
        await modal.present();
      },
      setName(name) {
        this.playerName = name;
        if(!this.$network.online) {
          this.playerId = '[player]' + name;
        }
      },
      startGame() {
        if(this.$network.online) {
          this.$network.emit('startGame');
        }
        else {
          this.gotoGameView();
        }
      },
      gotoGameView() {
        Store.set('players', PlayerAdapter.toGame(this.currentMatch.players, this.playerId));
        Store.set('playerId', this.playerId);

        console.log('store player = ', PlayerAdapter.toGame(this.currentMatch.players, this.playerId));

        this.$router.push({
          path: this.$network.online ? '/game' : '/game/offline'
        });
      },
      leaveMatch() {
        if(this.$network.online) {
          this.$network.emit('leaveMatch');
        }
        else {
          this.currentMatch = null;
        }
      },
      joinMatch(matchId) {
        // this.$router.push({ path: '/lobby/' + matchId });
        this.$network.emit('joinMatch', matchId);
      },
      createMatch(numComputer) {
        if(this.$network.online) {
          this.createMatchModal();
          this.$network.emit('createMatch', this.playerName + '\'s Game');
        }
        else {
          this.setName(generateName());
          this.currentMatch = {
            name: this.playerName + '\'s Game',
            players: []
          };
          this.addPlayerOffline(this.playerName);
          for(let i = 0; i < numComputer; i++) {
            this.addPlayerOffline();
          }
        }
      },
      addPlayerOffline(name) {
        const isHuman = arguments.length === 1;
        const playerName = isHuman ? name : generateName();

        this.currentMatch.players.push({
          human: isHuman,
          remote: false,
          player: {
            name: playerName,
            id: (isHuman ? '[player]' : '[bot]') + playerName
          }
        })
      },
      updateMatchNameOffline(name) {
        this.currentMatch.name = name;
      },
      kickPlayer(index) {
        if(this.$network.online) {
          this.$network.emit('kickPlayer', index);
        }
        else {
          this.currentMatch.players.splice(index, 1);
        }
      }
    },
    watch: {
      // $route (to, from) {
      //   if(to.name === 'In-Match Lobby' && from.name !== 'In-Match Lobby') {
      //     this.joinMatch(to.params.id);
      //   }
      // }
    }
  }
</script>

<style lang="scss" scoped>
.avatar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
  }
}
</style>