<template>
  <ion-page>
    <ion-header translucent no-border>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" :ios="ellipsisHorizontal" :md="ellipsisVertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen="true" slot="fixed" >
      <div class="card">
        <div class="header">
          <div class="avatar">
            <img @click="() => router.push('/avatar')" src="/assets/avatar/avataaars (1).svg" alt="">
          </div>
        </div>
        <div class="card-body">
          <div class="user-meta ion-text-center">
            <h3 @click="updateProfileModal('name')" class="playername">boredots5
              <ion-text color="secondary">
                <span class="edit-name">Edit</span>
              </ion-text>
            </h3>

            <div @click="updateProfileModal('intro')" class="intro">
              <h5 class="country">Jesus love you</h5>
            </div>

            <h6 class="ranking">Current ranking: <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
            </h6>
          </div>

        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {IonPage, IonButtons, IonBackButton, IonIcon, IonText, modalController} from '@ionic/vue';
import { ellipsisVertical, ellipsisHorizontal } from 'ionicons/icons';

import { defineComponent } from 'vue';
import {useRouter} from "vue-router";
import UpdateProfileModal from "@/components/profile/UpdateProfileModal";

export default defineComponent({
    name: 'Profile',
    components: { IonPage, IonButtons, IonBackButton, IonIcon, IonText },
  setup() {
    const router = useRouter();

    return {
      router,
      ellipsisVertical,
      ellipsisHorizontal
    }
  },
  data () {
    return {
    }
  },
  methods: {
    async updateProfileModal(type) {
      let title = 'Change Name'
      if (type === 'intro') {
        title = 'Change your Bio'
      }

      const modal = await modalController
          .create({
            component: UpdateProfileModal,
            cssClass: 'update-profile-container',
            componentProps: {
              title: title,
              type: type
            },
          })
      return modal.present();
    },
  },
  });
</script>

<style lang="scss" scoped>
ion-content {
  //--background: url(../../assets/background_full.jpg) no-repeat top center/cover fixed, #fff;
  //--background: blue;
  position: relative;
  height: 100%;
  width: 100%;

  ion-button {
    margin-top: 1em;
    margin-bottom: 1em
  }
}

ion-toolbar {
  --background: transparent;
}

ion-chip {
  --background: #9dc912;
  --color: #fff;
}

.card {
  margin: 0 auto;

  .header {
    height: 200px; // 20vh;

    .avatar {
      width: 100px; //40vw
      height: 100px;
      position: relative;
      margin: 0 auto;

      img {
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: calc(-1*(80px + 4px)); // -42px;
        border: 3px solid #9Dc912;
        background-color: #fff;
      }
    }
  }
}

.card-body {
  background-color: #ffffff;
  padding: 0 30px;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;

  .user-meta {
    //padding-top: 40px;

    .playername {
      font-size: 24px;
      font-weight: 600;
      color: #303940;
      .edit-name {
        font-size: small;
        font-weight: 500;
      }
    }

    .intro {
      padding: 5%;
      background: aliceblue;
      border-radius: 10px;

      .country {
        font-size: 90%;
        color: #949ea6;
        text-transform: uppercase;
        margin: 0 auto;
      }
    }
  }
}
</style>
