<template>
  <div class="player-btns" :class="{ active: active }" >
    <div class="draw-base" :class="{ active: active }"></div>
    <CardBack
        @click="draw"
        v-for="i in 5"
        :key="i"
        padding="-86px"/>
  </div>
</template>

<script>
  import CardBack from '@/components/CardBack';

  export default {
    name: 'CardDraw',
    components: { CardBack },
    props: ['active', 'draw'],
    data() {
      return {
      }
    }
  }
</script>

<style lang="scss" scoped>
.player-btns {
  transform: scale(0.6);
  position: absolute;
  top: 23%;
  z-index: 0;
  width: 100%;
  display: flex;

  &.active {
    z-index: 2;
  }
}

.draw-base {
  width: 100px;
  height: 120px;
  background: #92949c;
  border-radius: 8px;
  margin-right: -92px;

  &.active {
    background: #58D68D;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(253, 254, 254, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(253, 254, 254, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(253, 254, 254, 0);
    }
  }

}

</style>
