<template>
  <div class="stack">
    <div class="direction-top">
      <ion-icon :icon="arrowRedo" size="large" color="medium" v-if="boardDirection === 1"></ion-icon>
      <ion-icon :icon="arrowUndo" size="large" color="medium" v-if="boardDirection === -1"></ion-icon>
    </div>
    <div class="card-base" :style="{ zIndex: 8 - i }"></div>
    <Card
      v-for="(card, i) in getStack"
      :key="'field-' + i"
      :selectable="false"
      :animateDisabled="true"
      :color="card.color"
      :type="card.type"
      :style="{ zIndex: 8 - i, transform: 'rotate(' + getStackRotation(i, stack.length) + ')' }"
       />
    <div class="direction-bottom">
      <ion-icon :icon="arrowRedo" size="large" color="medium" v-if="boardDirection === 1"></ion-icon>
      <ion-icon :icon="arrowUndo" size="large" color="medium" v-if="boardDirection === -1"></ion-icon>
    </div>
  </div>
</template>

<script>
  import PersistentRotation from '@/lib/PersistentRotation';

  import { IonIcon } from '@ionic/vue';
  import { arrowRedo, arrowUndo } from 'ionicons/icons';

  import Card from '@/components/Card';

  export default {
    name: 'CardStack',
    components: { Card, IonIcon },
    props: ['stack', 'boardDirection'],
    setup() {
      return {
        arrowRedo,
        arrowUndo
      }
    },
    computed: {
      getStack() {
        return this.stack.filter((card, i) => i < 8);
      }
    },
    methods: {
      getStackRotation: PersistentRotation.getRotation.bind(PersistentRotation)
    }
  }
</script>

<style lang="scss" scoped>
  .stack {
    position: absolute;
    top: 23%;
    z-index: 2;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & /deep/ .direction-top {
      position: absolute;
      top: -28%;
    }

    & /deep/ .direction-bottom {
      position: absolute;
      top: 98%;
      transform: rotate(-180deg);
    }

    & /deep/ .card {
      position: absolute;
    }

    .card-base {
      width: 75px;
      height: 105px;
      padding: 8px;
      transition: all 250ms;
      box-sizing: initial;
      background: #92949c;
      border-radius: 8px;
    }
  }
</style>
