<template>
  <transition-group name="list" tag="div" class="card-back-hand" :style="{ marginLeft: shrinkAmountPadding }" >
    <CardBack
        v-for="i in iterable"
        :key="i"
        :selectable="false"
        :selected="selected === i"
        :shrinkAmount="shrinkAmountPx"
        :padding="(opponentsLength > 3) ? (shrinkAmount > 40 ? '5px' : '-70px') : padding"/>
  </transition-group>
</template>

<script>
  import CardBack from '@/components/CardBack';

  export default {
    name: 'CardBackHand',
    props: ['count', 'selected', 'player', 'windowWidth', 'windowHeight', 'opponentsLength', 'opponentIndex'],
    components: { CardBack },
    data () {
      return {
        shrinkAmount: 0,
        padding: '46px'
      }
    },
    methods: {
      computeShrinkAmount() {
        if(this.compressed) {
          const numCards = this.playerHand.length;
          const handRealWidth = (120 + 5) * (numCards + 1);
          this.shrinkAmount = (handRealWidth - this.getClientWidth()) / numCards;
        }
        else {
          this.shrinkAmount = 0;
        }
      },
      getClientWidth() {
        return this.isVertical() ? this.windowWidth * 0.7 : this.windowWidth;
      },
      isVertical() {
        return this.opponentsLength === 2 ||
            (this.opponentsLength === 3 && (this.opponentIndex === 0 || this.opponentIndex === 2));

      },
    },
    computed: {
      iterable() {
        const res = [];
        for(let i = 0; i < this.count; i++) {
          res.push(i);
        }
        return res;
      },
      playerHand() {
        return this.player.hand;
      },
      compressed() {
        return 180 * this.playerHand.length > this.getClientWidth();
      },
      shrinkAmountPadding() {
        console.log('shrinkAmountPadding', this.shrinkAmount)
        return this.shrinkAmount * 1.2 + 'px';
      },
      shrinkAmountPx()  {
        console.log('shrinkAmountPx', this.shrinkAmount)
        return '-' + this.shrinkAmount + 'px';
      }
    },
    watch: {
      playerHand()  {
        console.log('watch playerHand')
        //this.computeShrinkAmount();
      },
      windowWidth() {
        this.computeShrinkAmount();
      }
    }
  }
</script>

<style lang="scss" scoped>
  .list-enter-active,
  .list-leave-active {
    transition: all 1s ease;
  }
  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }

  .card-back-hand {
    display: flex;
    flex-direction: row;
  }
</style>
