<template>
  <div class="card-back" :class="[selectableClass, selectedClass]" :style="{ marginLeft: shrinkAmount, marginRight: padding, zIndex: 2 }">
    <div class="card-inner">
      <span class="spacer" v-html="'&nbsp;'"></span>
      <div class="swoosh"></div>
<!--      <span class="swish-content">UNO</span>-->
      <span class="spacer" v-html="'&nbsp;'"></span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'CardBack',
    props: ['selectable', 'selected', 'marginLeft', 'shrinkAmount', 'padding'],
    computed: {
      // If the card is selectable/clickable
      selectableClass() {
        return this.selectable === false ? 'no-select' : 'selectable';
      },
      // If the card is actively selected
      selectedClass() {
        return this.selected ? 'selected' : '';
      }
    }
  }
</script>

<style lang="scss" scoped>
  .card-back,
  .card-back .card-inner {
    border-radius: 8px;
  }

  .card-back {
    //width: 120px;
    //height: 180px;
    //padding: 8px;
    //border: 1px solid black;
    //cursor: default;
    //user-select: none;
    //transition: transform 250ms;
    //background-color: #ffffff;
    //box-sizing: initial;

    width: 70px;
    height: 100px;
    padding: 6px;
    border: 1px solid #bdc3c7;
    cursor: default;
    user-select: none;
    background-color: #ffffff;
    transition: all 250ms;
    flex-shrink: 0;
    //z-index: 1;
    box-sizing: initial;

    &.selectable  {
      cursor: pointer;
    }

    &.selected {
      transform: translateY(-25%);
    }

    .card-inner {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: #473751;

      .swoosh {
        flex-grow: 1;
        background-color: #F34963;
        //transform: rotate(45deg) scaleX(1.5) scaleY(1.5);
        //clip-path: ellipse(25% 50% at 50% 50%);
        border-radius: 40px 0 40px 0;
        margin: 8%;
      }

      //.swish-content {
      //  color: #ffffff;
      //  position: absolute;
      //  width: 100%;
      //  text-align: center;
      //  font-weight: 900;
      //  font-size: 48px;
      //  top: 50%;
      //  transform: translateY(-50%);
      //}

      .spacer {
        //height: 40px;
        color: white;
        font-weight: 900;
        font-size: 10px;
        margin: 0 8px;
      }
    }
  }
</style>
