<template>
  <div class="card" :class="[color, type, selectableClass, animateClass, hoverFocusClass]" :style="{ marginLeft: shrinkAmount, marginRight: padding, zIndex: zIndex }">
    <div class="card-inner">
      <span class="top-num" v-html="$t(typeDisplay)"></span>
      <div class="swoosh">
        <svg v-if="type.cat === 'A'" class="svg-animation"><use xlink:href="assets/cross.svg#cross"></use></svg>
        <svg v-if="type.cat === 'R'" class="svg-animation"><use xlink:href="assets/crown.svg#crown"></use></svg>
        <svg v-if="type.cat === 'P'" class="svg-animation" style="position: relative; left: 6%;"><use xlink:href="assets/christianity.svg#christianity"></use></svg>
        <svg v-if="type.cat === 'S'" class="svg-animation"><use xlink:href="assets/crown.svg#crown"></use></svg>
      </div>
      <span class="swish-num" :class="{ hasSvg: swooshHasSvg }" v-html="$t(swooshDisplay)"></span>
      <span class="bottom-num" v-html="'&nbsp;'"></span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Card',
    props: ['color', 'type', 'selectable', 'animateRemoving', 'animateDisabled', 'shrinkAmount', 'padding', 'hoverFocus', 'validMove'],
    data() {
      return {
        typeSpecials: ['skip', 'reverse', 'wild'],
        swooshSpecials: ['+2', 'skip', 'reverse', 'wild', 'wild+4'],
        animationOutCompleted: false
      }
    },
    computed: {
      typeDisplay() {
        if(this.type.name === 'wild+4') {
          return '+4';
        }
        if(this.typeDisplayHasSvg) {
          return '&nbsp;';
          // return '<svg><use xlink:href="assets/static/' + this.type.name + '.svg#' + this.type.name + '"></use></svg>';
        }
        return this.type.name;
      },
      typeDisplayHasSvg() {
        return this.typeSpecials.indexOf(this.type.name) !== -1;
      },
      swooshDisplay() {
        if(this.swooshHasSvg) {
          return '<svg><use xlink:href="assets/static/' + this.type.name + '.svg#' + this.type.name + '"></use></svg>';
        }
        return this.type.name;
      },
      swooshHasSvg() {
        return this.swooshSpecials.indexOf(this.type.name) !== -1;
      },
      selectableClass() {
        return this.selectable === false ? 'no-select' : 'selectable';
      },
      animateClass() {
        if(this.animateRemoving) {
          return 'out';
        }
        else if(this.animateDisabled) {
          return 'no-animate';
        }
        else {
          return '';
        }
      },
      hoverFocusClass() {
        return this.hoverFocus ? 'hover-focus' : '';
      },
      zIndex() {
        return this.validMove === 1 ? 2 : 0;
      }
    },
    watch: {
      animateRemoving() {
        setTimeout(() => this.animationOutCompleted = true, 10);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .card,
  .card-inner {
    border-radius: 8px;
  }

  .card {
    width: 70px;
    height: 100px;
    padding: 6px;
    border: 1px solid #999898;
    cursor: default;
    user-select: none;
    background-color: #ffffff;
    transition: all 250ms;
    flex-shrink: 0;
    z-index: 1;
    box-sizing: initial;

    &.hover-focus {
      &:hover {
        //transform: scale(1.2);
        //transform-origin: bottom;
        transform: translateY(-61%);
      }
    }

    &.no-animate {
      transition: all 0ms;
    }

    // Handled by Vue:
    &.list-enter {
      opacity: 0;
      transform: translateY(30px);
    }

    // Handled by us, because weird behavior animating out:
    &.out {
      transform: translateY(-100%) scale(1.2) !important;
      margin-left: -120px;
      opacity: 0.5;
    }

    &.selectable  {
      cursor: pointer;
    }

    &.red {
      .card-inner { background-color: #FE563D; background-image: linear-gradient(to bottom left, #FE563D, #FA4D5B); }
      & /deep/ use { fill: #FE563D; }
    }

    &.yellow {
      .card-inner { background-color: #FADF16; background-image: linear-gradient(to bottom left, #FADF16, #FAB33B); }
      & /deep/ use { fill: #FADF16; }
    }

    &.green {
      .card-inner { background-color: #89CB3F; background-image: linear-gradient(to bottom left, #89CB3F, #28AF08); }
      & /deep/ use { fill: #89CB3F; }
    }

    &.blue {
      .card-inner { background-color: #18A1F1; background-image: linear-gradient(to bottom left, #18A1F1, #1674E2); }
      & /deep/ use { fill: #18A1F1; }
    }

    &.special .card-inner {
      background-color: #473751;
    }

    .card-inner {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      .top-num,
      .bottom-num {
        color: white;
        font-weight: 900;
        font-size: 10px;
        margin: 0 8px;

        &.hasSvg {
          height: 40px;
          width: 40px;

          & /deep/ svg {
            height: 100%;
            width: 100%;
            padding: 8px 16px 8px 0;

            use {
              fill: #fff;
            }
          }
        }
      }

      .swoosh {
        flex-grow: 1;
        background-color: white;
        //transform: rotate(40deg) scaleX(1.1) scaleY(1.1);
        //clip-path: ellipse(25% 50% at 50% 50%);
        border-radius: 30px 0 30px 0;
        margin: 8%;

        .svg-animation {
          width: 100%;
          height: 45px;
        }
      }

      .swish-num {
        color: black;
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: 900;
        font-size: 13px;
        top: 70%;
        transform: translateY(-50%);

        &.hasSvg {
          height: 50px;
          top: 50%;

          & /deep/ svg {
            height: 100%;
            width: 100%;
          }
        }
      }

      .bottom-num {
        transform: rotate(180deg);
        align-self: flex-end;
      }
    }
  }
</style>
