<template>
  <div class="chat-view" :class="{ dark: dark }">
    <div class="chat-box" @click="onClose">
      <div v-for="(message, i) in messages" :key="i" class="message">
        <span class="sender" :class="{ isLocalPlayer: (message.sender.id === playerId) }" v-if="!isSameSenderThanLast(i)">{{ message.sender.name }}</span>
        <ChatAvatar :hideAvatar="isSameSenderThanLast(i)" :msg="message.content" :isLocalPlayer="message.sender.id === playerId" />
      </div>
    </div>
    <div class="compose-container">
      <ion-item>
        <ion-input ref="chatInput" color="light" class="message-input" v-model="messageDraft" placeholder="Say hello..." @keyup.enter="sendMessage()"></ion-input>
        <ion-button @click="sendMessage()"><ion-icon :icon="send"></ion-icon></ion-button>
      </ion-item>
    </div>
  </div>
</template>

<script>
import { IonIcon, IonInput, IonItem, IonButton } from '@ionic/vue';
import {send} from 'ionicons/icons';
import ChatAvatar from "@/components/ChatAvatar";

  export default {
    name: 'ChatView',
    components: { IonIcon, IonInput, IonItem, IonButton, ChatAvatar },
    props: ['dark', 'onClose', 'messages', 'playerId'],
    setup() {
      return {
        send
      }
    },
    data() {
      return {
        messageDraft: ''
      }
    },
    mounted() {
      setTimeout(() => {
        this.$refs.chatInput.$el.setFocus()
      }, 400); //todo 1000 for ios
    },
    methods: {
      sendMessage() {
        if(this.messageDraft.length === 0) return;
        this.$network.emit('newMessage', this.messageDraft);
        this.messageDraft = '';
      },
      isSameSenderThanLast(i) {
        return (this.messages[i - 1]) && this.messages[i].sender.name === this.messages[i - 1].sender.name;
      }
    }
  }
</script>

<style lang="scss">
.chat-view-container {
  --background: rgba(0, 0, 0, 0.5);
  //--backdrop-opacity: 0 !important;

  .chat-view {
    display: flex;
    flex-direction: column;
    height: 100%;

    &.dark {
      //background-color: rgba(0, 0, 0, 0.8);
      color: #dfe6e9;

      //.chat-header {
      //  margin: 16px;
      //}

      .chat-box {
        border: 0;
      }

    }
  }

  .chat-box {
    flex: 1;
    border: 1px solid #bdc3c7;
    overflow-y: scroll;
    margin-bottom: 10px;
    min-height: 200px;
    padding: 8px;
    border-radius: 8px;

    .message {
      //margin-bottom: 8px;

      .sender {
        font-weight: bold;
        margin-right: 8px;
        font-size: x-small;

        &.isLocalPlayer {
          display: flex;
          justify-content: flex-end;
        }

      }
    }
  }

  .compose-container {
    position: absolute; bottom: 0; width: 100%;
    .message-input {
      font-family: 'Josefin Sins', sans-serif;
    }
    ion-item {
      --background: black;
      ion-button {
        --background: #1e2023;
      }
    }

  }
}
</style>
