<template>
  <div class="chat-avatar-container" :class="{ isLocalPlayer: isLocalPlayer }">
    <img src="/assets/avatar/avataaars (1).svg" v-if="!isLocalPlayer" :class="{ hideAvatar: hideAvatar }" alt="avatar">
    <ion-chip :class="{ isLocalPlayer: isLocalPlayer }">
      <ion-label :color="isLocalPlayer ? 'light' : 'dark'">{{ msg }}</ion-label>
    </ion-chip>
    <img src="/assets/avatar/avataaars (1).svg" v-if="isLocalPlayer" :class="{ hideAvatar: hideAvatar }" alt="avatar">
  </div>
</template>

<script>

import {IonChip, IonLabel} from "@ionic/vue";

export default {
  name: 'ChatAvatar',
  components: { IonChip, IonLabel },
  props: ['msg', 'hideAvatar', 'isLocalPlayer'],
  
}
</script>

<style lang="scss" scoped>
.chat-avatar-container {
  //position: absolute; bottom: 45px; left: 0;
  display: flex;
  align-items: center;
  //margin: 5px;

  &.isLocalPlayer {
    justify-content: flex-end;
  }

  img {
    width: 7%;

    &.hideAvatar {
      opacity: 0;
    }
  }

  ion-chip {
    background: #f4f5f8;

    &.isLocalPlayer {
      justify-content: flex-end;
      background: #3880ff;
    }
  }
}
</style>
