<template>
  <div>
      <div class="colors-container">
        <p>SELECT COLOR</p>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="color red" @click="selectColor('red')">Red</div>
            </ion-col>
            <ion-col>
              <div class="color yellow" @click="selectColor('yellow')">Yellow</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="color green" @click="selectColor('green')">Green</div>
            </ion-col>
            <ion-col>
              <div class="color blue" @click="selectColor('blue')">Blue</div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </div>

</template>

<script>
  import { IonCol, IonRow } from '@ionic/vue';
  export default {
    name: 'ColorSelectorModal',
    props: ['show', 'selectColor'],
    components: { IonCol, IonRow }
  }
</script>

<style lang="scss" >
  .color-selector-container {
    --height: 35%;
    --width: 70%;
    --background: rgba(0, 0, 0, 0.5);

      .colors-container {
        p {
          text-align: center;
          color: white;
        }

        .color {
          text-align: center;
          padding: 25px 8px;
          color: white;
          //border-radius: 50%;

          &.red {
            background-color: #FE563D;
          }

          &.yellow {
            background-color: #FADF16;
          }

          &.green {
            background-color: #89CB3F;
          }

          &.blue {
            background-color: #18A1F1;
          }
        }
      }
  }
</style>
