<template>
  <div class="game-popover">Sound off/on <ion-toggle color="primary"></ion-toggle></div>
</template>

<script>
export default {
  name: 'GamePopover',
  components: {  },

}
</script>

<style lang="scss" scoped>
.game-popover-container {
  .game-popover{
    display: flex;
    align-items: center;
    margin: 5px;
  }
}
</style>
