<template>
  <div class="history-view">
    <ion-text :style="{ color: getColor(i) }" v-for="(history, i) in lastThreeHistory" :key="i">
      <p
          v-if="history.action === 'play'
          && history.cards[0].type.name !== 'skip'
          && history.cards[0].type.name !== 'reverse'
          && history.cards[0].type.name !== 'wild'
          && topStack.type.name !== 'skip'
          && topStack.type.name !== 'reverse'
          && topStack.type.name !== 'wild'
          && lastThreeHistory[lastThreeHistory.length - 1].action !== 'draw'
">

        {{ playerName(history.player) }} played <span class="history-color" :class="[history.cards[0].color]">{{cardProperty(history.cards)}}</span><span v-if="history.cards[0].color === 'special'" >, picked <span class="history-color" :class="[history.manualColor]">{{ history.manualColor }}</span></span>
      </p>

      <p class="special-event" v-if="history.action === 'draw' && lastThreeHistory[lastThreeHistory.length - 1] === history && lastThreeHistory[lastThreeHistory.length - 1].action === 'draw'">
        <svg class="svg-animation">
          <use xlink:href="assets/static/draw.svg#draw"></use>
        </svg>
        <span style="color: white">{{ playerName(history.player) }} drew {{ cardDrawLength(history.cards.length) }}</span>
      </p>
      <p v-else-if="history.action === 'draw'
          && lastThreeHistory[lastThreeHistory.length - 1] !== history
          && lastThreeHistory[lastThreeHistory.length - 1].action !== 'draw'
          && topStack.type.name !== 'skip'
          && topStack.type.name !== 'reverse'
          && topStack.type.name !== 'wild'">
        {{ playerName(history.player)}} drew {{ cardDrawLength(history.cards.length) }}
      </p>

      <p class="special-event" :class="[history.cards[0].color]" v-if="history.action === 'play' && history.cards[0].type.name === 'skip' && lastThreeHistory[lastThreeHistory.length - 1] === history">
        <svg class="svg-animation">
          <use xlink:href="assets/static/skip.svg#skip"></use>
        </svg>
        <span style="color: white">{{ playerName(previousPlayer) }} was skipped</span>
      </p>
      <p class="special-event" :class="[history.cards[0].color]" v-if="history.action === 'play' && history.cards[0].type.name === 'reverse' && lastThreeHistory[lastThreeHistory.length - 1] === history">
        <svg class="svg-animation">
          <use xlink:href="assets/static/reverse.svg#reverse"></use>
        </svg>
        <span style="color: white">{{ playerName(history.player) }} changed direction</span>
      </p>
      <p class="special-event" :class="[history.cards[0].color]" v-if="history.action === 'play' && history.cards[0].type.name === 'wild' && lastThreeHistory[lastThreeHistory.length - 1] === history">
        <svg class="svg-animation">
          <use xlink:href="assets/static/wild.svg#wild"></use>
        </svg>
        <span style="color: white">{{ playerName(history.player) }} changed color to <span class="history-color" :class="[history.manualColor]">{{ history.manualColor }}</span></span>
      </p>
    </ion-text>
  </div>
</template>

<script>

  import {IonText} from '@ionic/vue';

  const COLORS = [ '#92949c', '#d7d8da', '#f4f5f8'];

  export default {
    name: 'HistoryView',
    props: ['playHistory', 'topStack', 'playerId', 'previousPlayer'],
    components: { IonText },
    data() {
      return {
      }
    },
    methods: {
      cardDrawLength(length) {
        return (length === 1) ? 'a card' : length + ' cards';
      },
      cardProperty(cards) {
        const card = cards[0];
        if (card.color === 'special') {
          if(card.type.name === 'wild+4') {
            return 'DRAW 4'
          }
          return card.type.name.toUpperCase();
        }
        if(card.type.name === '+2') {
          return 'DRAW 2'
        }
        return this.capitalize(card.color) + ' ' + this.capitalize(card.type.name);
      },
      getColor(i) {
        return COLORS[i];
      },
      capitalize(s) {
        if (typeof s !== 'string') return ''
        return s.charAt(0).toUpperCase() + s.slice(1)
      },
      playerName(player) {
        return (this.playerId === player.id) ? "You" : player.name
      }
    },
    computed: {
      lastThreeHistory() {
        return (this.playHistory.length > 3 ) ? this.playHistory.slice(this.playHistory.length - 3) : this.playHistory;
      }
    }
  }
</script>

<style lang="scss" scoped>
.history-view {
  position: absolute;
  bottom: 38%;
  width: 100%;
  z-index: 2;
  color: white;
  text-align: center;

  background: radial-gradient(black, transparent);

  height: 13%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .history-color {
    &.red {
      color: #FE563D;
    }

    &.yellow {
      color: #FADF16;
    }

    &.green {
      color: #89CB3F;
    }

    &.blue {
      color: #18A1F1;
    }

    &.special {

    }
  }


  p {
    margin: 3px;
    font-family: 'Josefin Sins', sans-serif;
    font-weight: bold;
    font-size: small;
  }

  .special-event {
    height: 50px;

    &.red {
      & /deep/ use { fill: #FE563D; }
    }

    &.yellow {
      & /deep/ use { fill: #FADF16; }
    }

    &.green {
      & /deep/ use { fill: #89CB3F; }
    }

    &.blue {
      & /deep/ use { fill: #18A1F1; }
    }

    //&.special .card-inner {
    //  background-color: #473751;
    //}

    & /deep/ svg {
      height: 100%;
      width: 100%;
    }

    .svg-animation {
      animation: pulse 2s;

      @keyframes pulse {
        0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(253, 254, 254, 0.7);
        }

        70% {
          transform: scale(1);
          box-shadow: 0 0 0 10px rgba(253, 254, 254, 0);
        }

        100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(253, 254, 254, 0);
        }
      }
    }

  }
}
</style>
