<template>
  <div class="opponent" :class="{ active: player.id === currentPlayer }" :style="getOpponentDetailStyle(i, opponents.length)">
    <div style="transform: scale(0.8);">
      <div style="display: flex; justify-content: center">
        <ion-thumbnail>
          <img src="/assets/avatar/avataaars (1).svg" alt="">
        </ion-thumbnail>
      </div>
      <div>
        <div style="display: flex; justify-content: center">
          <ion-text color="light"><span style="font-size: 12px; font-weight: 900;">{{ player.name }}</span></ion-text>
        </div>
        <div style="display: flex; justify-content: center">
          <ion-progress-bar v-if="player.id === currentPlayer" :value="loader" style="width: 60px"></ion-progress-bar>
        </div>
        <div v-if="opponents.length >= 1" style="display: flex; justify-content: center">
          <ion-text color="light"><span style="font-size: 30px; font-weight: 900;">{{ player.hand.length }}</span></ion-text>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import RadialLayout from '@/lib/RadialLayout';
  import { IonText, IonProgressBar, IonThumbnail} from '@ionic/vue';

  const COLORS = [
    '#55efc4', '#a29bfe', '#81ecec', '#dfe6e9', '#ff7675',
    '#ffeaa7', '#74b9ff', '#fab1a0', '#fd79a8'
  ];

  export const WAIT_PLAYER_MOVE_TIME = 20000

  export default {
    name: 'OpponentDetailLayer',
    components: { IonText, IonProgressBar, IonThumbnail },
    props: ['opponents', 'currentPlayer', 'player', 'i'],
    data() {
      return {
        timer: null,
        waitingTime: WAIT_PLAYER_MOVE_TIME,
        loader: 1,
      }
    },
    mounted() {
      if (this.currentPlayer === this.player.id) {
        this.initLoadingTimer()
      }
      else {
        this.clearLoadingTimer()
      }
    },
    unmounted() {
      this.waitingTime = WAIT_PLAYER_MOVE_TIME;
      this.loader = 1;
      clearInterval(this.timer);
    },
    methods: {
      getOpponentDetailStyle: RadialLayout.getOpponentDetailStyle,
      getColor(i) {
        return COLORS[i % COLORS.length];
      },
      isRightOpponent(i, total) {
        return (i/total === 2/3) || (i/total === 1/2) || false
      },
      initLoadingTimer() {
          this.timer = setInterval(() => {
            this.waitingTime -= 1000;
            this.loader = this.waitingTime/WAIT_PLAYER_MOVE_TIME
            }, 1000);
      },
      clearLoadingTimer() {
        this.waitingTime = WAIT_PLAYER_MOVE_TIME;
        this.loader = 1;
        clearInterval(this.timer);
      }
    },
    watch: {
      currentPlayer(currentPlayer) {
        if (currentPlayer === this.player.id) {
          this.initLoadingTimer()
        }
        else {
          this.clearLoadingTimer()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
 .opponent {
    position: absolute;
    display: flex;
    transition: all 250ms, z-index 0.5s;
    //filter: grayscale(80%);
    width: fit-content;
    z-index: 3;

    align-items: center;
    justify-content: center;

    &.active {
      padding: 1px;
      //filter: grayscale(0%);

      img {
        border-radius: 50%;
        border: 3px solid #9Dc912;
        transform: scale(1.1);
        //background-color: #65C9FF;
      }
    }
  }
</style>
