<template>
  <div class="opponent-hand-layer full-screen">
    <div class="hand-container" :class="{ active: player.id === currentPlayer }" :style="getOpponentHandStyle(i, opponents.length)" v-for="(player, i) in opponents" :key="player.id">
      <CardBackHand
          :count="getPlayer(player.id).hand.length"
          :selected="getPlayer(player.id).selectedCardIndex"
          :windowWidth="windowWidth"
          :windowHeight="windowHeight"
          :shrinkAmountPadding="shrinkAmountPadding"
          :shrinkAmount="shrinkAmount"
          :player="getPlayer(player.id)"
          :opponentsLength="opponents.length"
          :opponentIndex="i"/>
    </div>
  </div>
</template>

<script>
  import CardBackHand from '@/components/CardBackHand';
  import RadialLayout from '@/lib/RadialLayout';

  export default {
    name: 'OpponentHandLayer',
    components: { CardBackHand },
    props: ['opponents', 'currentPlayer', 'getPlayer', 'players', 'shrinkAmountPadding', 'shrinkAmount', 'windowWidth', 'windowHeight'],
    methods: {
      getOpponentHandStyle: RadialLayout.getOpponentHandStyle
    }
  }
</script>

<style lang="scss" scoped>
  .opponent-hand-layer {
    .hand-container {
      position: absolute;
      transform-origin: left top;
      z-index: 0;
      transition: z-index 0.5s;

      &.active {
        z-index: 2;
      }
    }
  }
</style>
