<template>
  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-content">
        <h1>{{ (currentPlayer === winnerPlayer.id) ? "You" : winnerPlayer.name }} won</h1>
        <div>
          <div style="display: flex; justify-content: center">
            <ion-thumbnail>
              <img src="/assets/avatar/avataaars (1).svg" alt="">
            </ion-thumbnail>
          </div>
        </div>
        <ion-button expand="full" @click="quit()">CLOSE</ion-button>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'WinnerModal',
    props: ['winnerPlayer', 'currentPlayer', 'quit'],
    components: { }
  }
</script>

<style lang="scss">
.winner-view-container {
  --height: 70%;
  --width: 80%;

  .modal-overlay {

    .modal {
      text-align: center;
    }
  }
}

</style>
