<template>
  <ion-header>
    <ion-toolbar>
      <ion-title>SETTINGS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
<!--    <ion-item>-->
<!--      <ion-label>-->
<!--        Players-->
<!--      </ion-label>-->
<!--      <ion-range v-model="numOpponent" min="1" max="3" step="1" snaps="true" ticks="true" color="secondary">-->
<!--        <ion-label slot="start">2</ion-label>-->
<!--        <ion-label slot="end">4</ion-label>-->
<!--      </ion-range>-->
<!--    </ion-item>-->
    <ion-radio-group @ionChange="$event => numOpponent = $event.detail" value="1">
      <ion-list-header>
        <ion-label>Players</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>2 Players</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>3 Players</ion-label>
        <ion-radio slot="start" value="2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>4 Players</ion-label>
        <ion-radio slot="start" value="3"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>6 Players</ion-label>
        <ion-radio slot="start" value="5"></ion-radio>
      </ion-item>

    </ion-radio-group>
    <ion-button expand="full" @click="playGame()" class="play-match">START</ion-button>
  </ion-content>
</template>

<script>

import { IonItem, IonLabel, IonRange, modalController } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'CreateMatch',
    props: ['onDidDismiss'],
    components: {  IonItem, IonLabel },
  mounted() {
    this.$network.emit('refreshLobby');
  },
  data() {
      return {
        numOpponent: { value: 1 }
      };
    },
  methods: {
      playGame() {
        if(this.$network.online) {
          console.log("hello on")
          for (let i = 0; i < this.numOpponent.value; i++) {
            this.$network.emit('addHumanSlot');
          }
          modalController.dismiss({ online: true })
        }
        else {
          console.log("hello off")
          modalController.dismiss({ numOpponent: this.numOpponent.value, online: false })
        }
      },
    },
    computed: {

    }
  })
</script>

<style lang="scss">
.create-match-container {
  --height: 65%;
  --width: 95%;

  .play-match {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
</style>
