<template>
  <div class="match-find">

    <ion-list class="list">
      <ion-item @click="startMatchOff()">
        <ion-thumbnail slot="start">
          <img src="assets/one_bot.png">
        </ion-thumbnail>
        <ion-label>
          <ion-text color="medium"><h2 class="list-text">Play vs computer</h2></ion-text>
        </ion-label>
      </ion-item>

      <ion-item button>
        <ion-thumbnail slot="start">
          <img src="assets/avatar/avataaars (1).svg">
        </ion-thumbnail>
        <ion-label>
          <ion-text color="medium"><h2 class="list-text">Invite Friends</h2></ion-text>
        </ion-label>
      </ion-item>


      <ion-item-group>
        <ion-list-header>
          <ion-text color="dark">Online</ion-text>
        </ion-list-header>
      <ion-item class="match-list" v-for="match in sortedMatches" :key="match.name" @click="joinMatch(match.id)">
        <ion-label>
          <ion-text color="primary"><h2 class="list-text">{{ match.name }}</h2></ion-text>
          <p>Live, {{ getPlayersLength(match) }} player(s)</p>
          <ion-chip outline color="success">
            <ion-label>{{ getStatus(match) }}</ion-label>
          </ion-chip>
        </ion-label>
        <ion-text color="medium" slot="end">
          <ion-label> {{ getPlayersLength(match) - getOpenSpots(match) }}/{{ getPlayersLength(match) }} players</ion-label>
        </ion-text>
      </ion-item>
      </ion-item-group>
    </ion-list>

    <ion-grid class="create-match" >
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" @click="startMatchOn()">PLAY ONLINE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</template>

<script>
import {IonCol, IonGrid, IonRow, IonText, IonItem, IonItemGroup} from '@ionic/vue';

export default {
  name: 'MatchList',
  props: ['joinMatch', 'createMatch', 'currentMatch', 'createMatchModal'],
  components: { IonCol, IonGrid, IonRow, IonText, IonItem, IonItemGroup },
  mounted() {
    if(this.$network.online) {
      this.$network.emit('refreshMatches');
    }
  },
  data() {
    return {
      matches: []
    };
  },
  methods: {
    getPlayersLength(match) {
      return match.players.length;
    },
    getOpenSpots(match) {
      return match.players.filter(player => player.open).length;
    },
    getStatus(match) {
      const numOpen = this.getOpenSpots(match);
      if(numOpen === 0) {
        return 'Full';
      }
      return 'Join';
    },
    startMatchOff() {
      this.$network.online = false;
      this.createMatchModal();
    },
    startMatchOn() {
      this.$network.online = true;
      this.createMatch();
    },
  },
  sockets: {
    refreshMatches(matches) {
      this.matches = matches;
    }
  },
  computed: {
    sortedMatches() {
      const res = [];
      const currentMatchName = (this.currentMatch || {}).name;
      res.push(...this.matches.filter(match => match.name === currentMatchName));
      res.push(...this.matches.filter(match => this.getOpenSpots(match) > 0 && match.name !== currentMatchName));
      res.push(...this.matches.filter(match => this.getOpenSpots(match) === 0 && match.name !== currentMatchName));
      return res;
    },
    online() {
      return this.$network.online;
    }
  }
}
</script>

<style lang="scss" scoped>
.match-find {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0px;

  .list{
    margin-bottom: 40px;
    .list-text {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }

  .create-match {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
</style>
