<template>
  <div class="match-find">

<!--    <ion-list>-->

      <ion-item @click="startMatch(1)">
        <ion-thumbnail>
          <img src="assets/one_bot.png">
        </ion-thumbnail>
        <ion-label>
          <h2>Play vs computer</h2>
        </ion-label>
      </ion-item>

      <ion-item @click="startMatch(2)">
        <ion-thumbnail>
          <img src="assets/two_bots.png">
        </ion-thumbnail>
        <ion-label>
          <h2>Play vs 2 computers</h2>
        </ion-label>
      </ion-item>

      <ion-item @click="startMatch(3)">
        <ion-thumbnail>
          <img src="assets/three_bots.png">
        </ion-thumbnail>
        <ion-label>
          <h2>Play vs 3 computers</h2>
        </ion-label>
      </ion-item>

    <ion-item @click="startMatch(4)">
      <ion-thumbnail>
        <img src="assets/three_bots.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Play vs 4 computers</h2>
      </ion-label>
    </ion-item>

    <ion-item @click="startMatch(5)">
      <ion-thumbnail>
        <img src="assets/three_bots.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Play vs 5 computers</h2>
      </ion-label>
    </ion-item>
<!--    </ion-list>-->

  </div>
</template>

<script>
import { IonAvatar } from '@ionic/vue';

export default {
  name: 'MatchOffline',
  // components: { IonAvatar },
  props: ['gotoGameView', 'addPlayerOffline', 'createMatch'],
  data() {
    return {
    };
  },
  methods: {
    startMatch(numComputer) {
      this.$network.online = false;
      this.createMatch(numComputer);
      this.gotoGameView();
    },
  }
}
</script>

<style lang="scss" scoped>

</style>
